@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('css_fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('css_fonts/open-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    text-align: center;
    background: linear-gradient(74deg, rgba(2, 0, 36, 1) 0%, rgba(187, 16, 166, 0.7652310924369747) 0%, rgba(0, 212, 255, 1) 89%);
}

/* ----------------------------------------------------------- LOGIN PAGE -------------------------------------------------- */
.form {
    width: 320px;
    height: 480px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.form input[type=text] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.form input[type=password] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.form input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}


.text p {
    font-size: .8rem;
    padding-top: 0.3rem;
    color: #000000;
    transform: translate(-25%, 2000%);
    font-family: 'Open Sans', sans-serif;
}

.text h1 {

    color: #000000;
    transform: translate(-25%, 1000%);
    font-family: 'Open Sans', sans-serif;
}

.text_form h1 {
    color: #000000;
    transform: translate(0%, 40%);
    font-family: 'Open Sans', sans-serif;
}

.forgot-password-link {
    width: 140px;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: .3s;
    border-radius: 12px;
}

.forgot-password-link:hover {
    background: rgba(10, 102, 195, 0.3);
}

.join-link {
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
}

.join-now {
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    border-radius: 12px;
    transition: .3s;
    font-weight: bolder;
    padding: .2rem;
}

.join-now:hover {
    background: rgba(10, 102, 195, 0.3);
}

.tapp {
    color: #0A66C3;
}

.logo {
    text-align: right;
    transform: translate(-15%, 150%);
    font-family: 'Open Sans', sans-serif;
}


/* ----------------------------------------------------------- LOGIN PAGE -------------------------------------------------- */



/* ----------------------------------------------------------- SIGNUP PAGE ------------------------------------------------- */
.signup-box {
    width: 480px;
    height: 480px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.signup-box input[type=text] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.signup-box input[type=password] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.signup-box input[type=number] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.signup-box input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}



.signup-text h1 {
    font-family: 'Open Sans', sans-serif;

}

.signup-text p {
    transform: translate(200%, 1450%);
    width: 10%;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------------------------------- SIGNUP PAGE ------------------------------------------------- */



/* ----------------------------------------------------------- LOGOUT PAGE ------------------------------------------------- */

.logout {
    transform: translate(-0%, 450%);
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}

.logout-button {
    display: block;
    width: 100px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

/* ----------------------------------------------------------- LOGOUT PAGE ------------------------------------------------- */



/* ----------------------------------------------------------- TEACHER PAGE ------------------------------------------------- */

/*----------------------------------------------------TEACHER HOME*/
.teacher-p {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.teacher-main-table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 400px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size-adjust: initial;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(32, 32, 32, 0.3);
}

.teacher-main-table td,
th {
    background: #f8f8f8;
    padding: 12px 15px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.teacher-button {
    display: block;
    width: 150px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}


.teacher-list-button {
    display: block;
    width: 100px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.teacher-logout-button {
    position: relative;
    display: block;
    width: 100px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

/*-----------------------------------------------------TEACHER DETAIL*/
.teacher-detail-table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 200px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size-adjust: initial;
    text-align: center;
    background: #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(32, 32, 32, 0.3);

}

.teacher-detail-table th,
td {
    background: #21ad50;
    padding: 15px 15px;
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

/*------------------------------------------------------TEACHER UPDATE*/
.teacher-update {

    transform: translate(0%, 50%);

}

.teacher-update input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}


.teacher-button-update {
    transform: translate(0%, 500%);
    display: block;
    width: 100px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}

/*----------------------------------------------------TEACHER DELETE*/
.teacher-delete {
    transform: translate(0%, 125%);
}

.teacher-delete input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #d41212;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}

.teacher-delete p {
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}

.teacher-button-delete {
    display: block;
    width: 150px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

/*----------------------------------------------------TEACHER CREATE*/
.teacher-create {
    transform: translate(0%, 50%);
}




.teacher-create input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}

/* ----------------------------------------------------------- TEACHER PAGE ------------------------------------------------- */



/* ----------------------------------------------------------- STUDENT PAGE ------------------------------------------------- */

.student {
    transform: translate(0%, 150%);
    font-family: 'Open Sans', sans-serif;
}

.student input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}

.student label {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.student select {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.student-result {
    position: absolute;
    transform: translate(400%, 125%);
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.student-table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 400px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size-adjust: initial;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(32, 32, 32, 0.3);
}

.student-table td,
th {
    background: #f3eeee;
    padding: 12px 15px;
    color: #070707;
    font-family: 'Open Sans', sans-serif;
}

.student-button input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
    transform: translate(-0%, 1500%);
}

/* ----------------------------------------------------------- STUDENT PAGE ------------------------------------------------- */