@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('css_fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('css_fonts/open-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    text-align: center;
    background: linear-gradient(74deg, rgba(2, 0, 36, 1) 0%, rgba(187, 16, 166, 0.7652310924369747) 0%, rgba(0, 212, 255, 1) 89%);
}

/* ----------------------------------------------------------- LOGIN PAGE -------------------------------------------------- */
.form {
    width: 320px;
    height: 480px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.form input[type=text] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.form input[type=password] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.form input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}


.text p {
    font-size: .8rem;
    padding-top: 0.3rem;
    color: #000000;
    transform: translate(-25%, 2000%);
    font-family: 'Open Sans', sans-serif;
}

.text h1 {

    color: #000000;
    transform: translate(-25%, 1000%);
    font-family: 'Open Sans', sans-serif;
}

.text_form h1 {
    color: #000000;
    transform: translate(0%, 40%);
    font-family: 'Open Sans', sans-serif;
}

.forgot-password-link {
    width: 140px;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: .3s;
    border-radius: 12px;
}

.forgot-password-link:hover {
    background: rgba(10, 102, 195, 0.3);
}

.join-link {
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
}

.join-now {
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    border-radius: 12px;
    transition: .3s;
    font-weight: bolder;
    padding: .2rem;
}

.join-now:hover {
    background: rgba(10, 102, 195, 0.3);
}

.tapp {
    color: #0A66C3;
}

.logo {
    text-align: right;
    transform: translate(-15%, 150%);
    font-family: 'Open Sans', sans-serif;
}


/* ----------------------------------------------------------- LOGIN PAGE -------------------------------------------------- */

/* ----------------------------------------------------------- SIGNUP PAGE ------------------------------------------------- */
.signup-box {
    width: 480px;
    height: 480px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.signup-box input[type=text] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.signup-box input[type=password] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.signup-box input[type=number] {
    width: 200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.signup-box input[type=submit] {
    display: block;
    width: 100px;
    height: 40px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor: pointer;
}



.signup-text h1 {
    font-family: 'Open Sans', sans-serif;

}

.signup-text p {
    transform: translate(-25%, 1500%);
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------------------------------- SIGNUP PAGE ------------------------------------------------- */

/* ----------------------------------------------------------- LOGOUT PAGE ------------------------------------------------- */

.logout {
    transform: translate(-0%, 450%);
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}

.logout-button {
    display: block;
    width: 100px;
    height: 20px;
    background: #3f0a0a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

/* ----------------------------------------------------------- LOGOUT PAGE ------------------------------------------------- */