{% extends 'base.html' %}
{% block content%}
<p class="teacher-p">Welcome, {{user.username}} </p>
<div class="student">
    <form method="GET" action="{% url 'student.quiz' %}">
        {% csrf_token %}
        <label for="subject-names">Choose a subject:</label>
        <select name="subject-names">
            <option value="maths">MATHS</option>
            <option value="science">SCIENCE</option>
            <option value="geography">GEOGRAPHY</option>
            <option value="english">ENGLISH</option>
        </select>
        <br><br><br><br>
        <input type="submit" value="Submit" />
    </form>
    <br>
    <a class="teacher-button" href="{% url 'logout'%}">Logout</a>
</div>

{% endblock %}